body {
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Cabin', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1;
    width: 100%;    
}

.header-wrapper-top {
    background: #10BBD5;  
}

.header-wrapper {
    background: #FFF;  
}

.content-container {
    width: 1296px;
    margin: 0 auto;
}

.header-link {
display: inline-block;
} 

.header-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-sizing: border-box;
    padding: 16px 0px;  
}

a {
    text-decoration: none;
    color: #000;
}

header span {
   color: #F8FDFE;
   font-size: 16px;
   line-height: 24px;

}

.header-cart {
    display: flex;
    align-items: center;
}

.header-bottom-menu {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px; 
} 

.btn-cart {
    border: none;
    background: #10BBD5;
    cursor: pointer;
    position: relative;
}

.btn-cart span {
    color: #000;
    font-size: 12px;
    line-height: 10px;
    font-family: Cabin;
    position: absolute;
    top: 11px;
    right: 16px;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-list-link {
    font-size: 16px;
    line-height: 24px;
}

main {
    background:#EEEEEF; 
    margin-top: 104px;
    position: relative; 
}

.btn-chat {
    border: none;
    position: fixed; 
    top: 676px; 
    right: 28px;
    background-color: #10BBD5;   
    border-radius: 50%; 
    z-index: 5;
    cursor: pointer;
} 

.chat-icon {
    width: 51px;
    height: 51px; 
    margin: 0 auto; 
}

.main-heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid #A8A8A8; 
    padding: 36px 0 23px ;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 120px;
    position: relative;
}

.main-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 32px;
    width: 306px;
    height: 512px;
    border: 1px solid #A8A8A8;
    background: #F8FDFE;
    gap: 16px; 
    position: relative;
}


.main-heading-roman-emperor {
    width: 100%;
    height: 31px;
    overflow: hidden;    
    font-size: 20px;
    font-weight: 700;
    line-height: 28px; 
}

main img {
    width: 178px;
    height: 280px;
    margin-left: 32px;
}

main h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid #A8A8A8;
}

.main-card-description {
    font-size: 16px;
    line-height: 24px;
    color: #8E8E8E;
}

.main-card-price-wrapper {
    display: flex;
    gap: 24px;
    display: relative;
}

.main-card-price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; 
}

.main-card-delated-price {
    color: #8E8E8E;
    text-decoration-line: line-through;;
} 

.btn {
    border-radius: 4px;
    background:  #4C394E;
    padding: 8px 24px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color:#F8FDFE;
    cursor: pointer;
}

.main-badge-hit {
    position: absolute;
    top: 32px;
    left: 32px;
    color: #F8FDFE;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;;
    background: #4200FF;
    box-sizing: border-box;
    padding: 4px 8px;
}

.main-badge-new {
    background: #AF39E7;
    width: 47px;
}

.main-card-badge-wrapper {
    display: flex;
} 
.main-badge-discount {
    background: #EA33C0;
    left: 72px;
}
.main-badge-discount-new {
    left: 83px
}

.main-badge-discount-20off {
    left: 32px;
}

.green-btn {
    background: #4D762D;
}


footer {
    background: #4C394E;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;

}

.footer-wrapper p {
    color: #F8FDFE;
    font-size: 16px;
    line-height: 24px;
    padding: 32px 0 32px;
}